[project]
	description = Linux management framework written in Tcl/Expect
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/itayo
[access "refs/for/refs/*"]
	read = group user/itayo
	push = group user/itayo
	label-Code-Review = -2..+2 group user/itayo
	label-Verified = -1..+1 group user/itayo
	rebase = group user/itayo
	removeReviewer = group user/itayo
	submit = group user/itayo
[access "refs/heads/*"]
	read = group user/itayo
	create = group user/itayo
	push = +force group user/itayo
	pushMerge = group user/itayo
[access "refs/tags/*"]
	push = +force group user/itayo
	pushTag = group user/itayo
	pushSignedTag = group user/itayo
